<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryProcessors>
    <Add Type="Microsoft.ApplicationInsights.SnapshotCollector.SnapshotCollectorTelemetryProcessor, Microsoft.ApplicationInsights.SnapshotCollector">
      <!-- Snapshot Debugging is usually disabled when debugging in Visual Studio, but you can enable it by setting this to true. -->
      <IsEnabledInDeveloperMode>false</IsEnabledInDeveloperMode>
      <!-- Other properties are documented at https://aka.ms/pnv0qt -->
    </Add>
  </TelemetryProcessors>
</ApplicationInsights>